.album-info{
    margin-bottom: 100px;
    color: aliceblue;
    height: 10vh;
    font-weight: bold;
}
.App-link{
    text-decoration: none;
    color: aliceblue;
}
.App-link:hover{
    opacity: 80%;
}

.album-header{
    font-weight: bold;
    color: aliceblue;
    font-size: calc(1px + 2vmin);
    margin-bottom: -20px;
}