.album-image {
  padding-top: 20px;
}
.album-img {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .album-img {
    animation: album-img-spin infinite 20s linear;
  }
}

.Card {
  background-color: #263147;
  border-radius: 10%;
  padding: 40px;
}
.btn {
  background-color: #4cd13b;
  border: none;
  border-radius: 100%;
  margin-top: 40px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: rgb(54, 56, 56);
  float: left;
}
.btn:hover {
  opacity: 50%;
}
.lyric {
  float: right;
  border-radius: 100%;
}

.App-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.App-link:hover {
  opacity: 50%;
}

@keyframes album-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
