
.App-topwrapper{
    background-color: rgb(54, 52, 62);
}
.App-contentwrapper{
    background-color: rgb(54, 52, 62);
}
.App-footer{
    background-color: rgb(54, 52, 62);
    height: 599px;
}

.App-header{
    background-color: #3a3843;
    min-height: 8vh;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}


.parent-card {
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid rgb(124, 118, 118);
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3a3843;
}