.card {
    border: 3px solid rgb(152, 143, 143);
    background-color: #3A3845;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.card-header img {
    width: 100%;
    background-size: cover;
    margin: auto;
}
.card-header{
    width: 180px;
    height: 200px;
    display: flex;
}
.card-content{
    width: 240px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(194, 180, 180);
}
.card-content ul{
    margin: auto;
    list-style: none;
}
  .btn.select{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(48, 196, 48);
    font-weight: 600;
    border: none;
    overflow: hidden;
    transition:all 0.3s;
}
.btn.select:hover {
    opacity: 60%;
}
