*{
    text-align: center;
}
.create-playlist{    
    text-align: center;
    background-color: rgb(54, 52, 62);
    padding: 0 50px;
    box-sizing: border-box;
    width: 800px;
    display: inline-block;

}


.playlist-submit:hover{
   opacity: 60%;
}
.playlist-submit {
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    background-color: rgb(48, 196, 48);
    font-weight: 600;
}
.playlist-title{
    margin-top:10px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
}
.playlist-description{
    margin-top:10px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}
fab:hover{
background-color: black;
}