.create-playlist{    
    text-align: center;
    background-color: rgb(82, 90, 107);
    padding: 10px 20px 60px 20px;
    margin: 30px 190px;
    border-radius: 20px;
}
.container{
    margin: 0 90px;
    background-color: rgb(89, 97, 112);
    border-radius: 20px;
}
.container h2{
    margin-bottom: 10px;
    color: black;
}
.container .playlist-submit{
    margin-bottom: 40px;
}
input,textarea{
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: aliceblue;
    margin-right: 10px;
}
.playlist-submit{
    background-color: rgb(63, 67, 71);
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
.playlist-submit:hover{
    background-color: rgb(82, 90, 107);
}