
.login-Page{
    text-align: center;
    background-color: rgb(54, 52, 62);
    height: 713px;
    overflow-x: hidden;
    overflow: hidden;
    
}
.login{
    background-color: #50c4e7;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-weight: 600;
}
.login:hover{
    opacity: 70%;
}
.parent .login-wrapper h1{
    font-size:2em;
}
.parent .login-wrapper h6{
    color: white;
}
.parent .login-wrapper h2,h1{
    color: white;
    
} 

.blob{
    position: absolute;
    left: 8px;
}
.parent .login-wrapper{
    position: absolute;
    left: 200px;
    bottom: 150px;
}
.parent{
position: relative;
display: inline-block;
width: 700px;
height: 700px;
}
@media(max-width: 570px){
.parent {
    width: 400px;
    height: 700px;
}
.blobp {
    width: 500px;
}
.parent .login-wrapper {
    position: absolute;
    left: 112px;
    bottom: 200px;
    font-size: 12px;

}
.login-Page {

    height: 700px;

}
}