.logout{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 60px;
    margin-left: -80px;
    background-color:rgb(48, 196, 48) ;
    font-weight: 600;
    transition: 0.3s;
}
.logout:hover{
    opacity: 70%;
}