* {
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.parent-card {
  position: absolute;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: #263147;
  border-radius: 10%;
  margin: 50px 50px;
  flex: auto;
  width: 40%;
}
.btn {
  background-color: #4cd13b;
  border: none;
  border-radius: 100%;
  margin-top: 40px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: rgb(54, 56, 56);
  flex: none;
  margin: 10px 150px 50px 150px;
}
.btn:hover {
  opacity: 50%;
}
.lirik {
  border-radius: 100%;
}
.album-header {
  margin-top: 20px;
}
.album-info {
  margin-bottom: 20px;
}
.App-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.App-link:hover {
  opacity: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1600px) {
  .btn {
    margin: 10px 50px 30px 50px;
  }
}
@media (max-width: 1000px) {
  .btn {
    margin: 10px 50px 30px 50px;
  }
}
@media (max-width: 670px) {
  .btn {
    margin: 10px 20px 30px 20px;
  }
}
.App-search {
  display: flex;
  position: absolute;
  top: 40px;
}
.App-search input {
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  height: 30px;
}

.App-login {
  position: absolute;
  top: 25px;
  right: 40px;
}
.App-login a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.App-login a:hover {
  opacity: 80%;
}
.btn-select{
 
  border: none;
  border-radius: 100%;
  width: 80px;
  height: 50px;
  font-weight: bold;
  color: rgb(54, 56, 56);
}